<div class="login-container">
  <div class="form-container">
    <h1>MyNotes</h1>
    <form class="login-form">
      <label class="form-label">Username</label>
      <input class="form-input" type="text" name="username">

      <div class="password-label">
        <label class="form-label">Password</label>
        <p (click)="togglePassword()" class="show-password">{{this.showPassword}}</p>
      </div>
      <input class="form-input" [type]="this.inputType" name="password">

      <button class="login-button">Sign in</button>
    </form>
  </div>
</div>
